*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 154, 28);
}

.name {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    width: 50%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    width: auto;
    height: 40px;
    text-decoration: none;
    color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

/*main*/

main {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: rgb(245, 241, 31);
    color: rgb(110, 110, 110);
    background-size: 850px 630px;
    background-position:right;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px beige;
}

.experiencia {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.experiencia h2{
    width: 100%;
    height: 50%;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: outset;
    border-width: 20px;
    border-color: rgb(163, 154, 28);
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 154, 28);
    font-size: 40px;
}

.lista {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.lista ul {
    width: 100%;
    height: 100%;
    text-decoration: underline;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.lista ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/*footer*/

footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 154, 28);
}

.datos ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.datos ul li {
    width: 50%;
    height: auto;
    display: flex;
}

.datos ul li img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border-radius: 50px;
}

/* Responsive */

@media screen and (max-width: 817px) {

    header {
        flex-direction: column;
    }

    .name {
        width: 100%;
        height: auto;
    }

    nav {
        width: 100%;
        height: auto;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .experiencia {
        width: 90%;
        height: 50%;
        border-width: 10px;
        margin-bottom: 10px;
    }

    .lista {
        width: 100%;
        height: 100%;
    }

    .lista ul {
        width: 100%;
        height: 100%;
    }

    .lista ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {

    .name {
        width: 100%;
        height: auto;
        font-size:x-small;
    }
    
    nav {
        width: 100%;
        height: auto;
        text-align: center;
        font-size:x-small;
    }

    .datos {
        width: 100%;
        height: 70%;
    }

    .datos ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencia h2 {
        font-size: x-large;
    }

    .lista {
        width: 100%;
        height: 100%;
        font-size: medium;
        text-align: center;
    }
}