*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 154, 28);
}

.name {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    width: 50%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: rgb(163, 154, 28);
}

/*main*/

main {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: rgb(245, 241, 31);
    color: rgb(110, 110, 110);
    background-size: 850px 630px;
    background-position:right;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px beige;
}

.skills {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.skills h2{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: outset;
    border-width: 20px;
    border-color: rgb(163, 154, 28);
    border-radius: 100px 100px 100px 100px;
    background-color: black;
    color: rgb(163, 154, 28);
    font-size: 60px;
}

.lista {
    font-size: larger;
    width: 60%;
    display: flex;
    color: rgb(0, 0, 0);
}

.lista ul {
    text-decoration: underline;
    display: flex;
    flex-direction: column;
}

.lista ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*footer*/

footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 154, 28);
}

.contacto ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacto ul li {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
}

.contacto ul li img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    border-radius: 50px;
}